@import "tailwindcss";

@theme {
  --font-display: "Jersey 15", system-ui, sans-serif;
  --font-body: "Jersey 15", system-ui, sans-serif;

  --color-bg: #14141E;
  --color-surface: #f1e8f3;
  --color-surface-muted: #d8bfdc;

  --color-muted: #E6DDEA;
  --color-muted-foreground:#C0AFC3;

  --color-purple: #8b4fa3;
  --color-purple-accent: #9B5DB4;
  --color-purple-dark: #673272;
  --color-purple-light: #c989d4;
  --color-purple-surface: #BF73AF;

  --color-red: #D43A3E;
  --color-red-accent:#E54246;   
  --color-red-shadow: #98171B;

  --color-player-blue: #4d8dff;
  --color-player-red: #e85d5d;

  --color-text-main: #241f28;
  --color-text-light: #f8f4fa;
}

@layer base {
  html {
    font-family: var(--font-body);
    background: var(--color-bg);
    color: var(--color-text-light);
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }

  button,
  input {
    font: inherit;
  }

  * {
    box-sizing: border-box;
  }

  ::selection {
	background: #c989d4;
}
}

@layer utilities {
  .clip-chamfer {
    clip-path: polygon(
      12px 0,
      calc(100% - 12px) 0,
      100% 12px,
      100% calc(100% - 12px),
      calc(100% - 12px) 100%,
      12px 100%,
      0 calc(100% - 12px),
      0 12px
    );
  }

  .pixel-shadow {
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.35);
  }
}